body{
    display: grid;
    place-content: center;
}
div{
    background-color: rgb(245, 190, 245);
    padding: 25px;
    text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: crimson;
}
p{
    font-family: sans-serif;
    color: rgb(29, 8, 124);
}
input{
    margin-top: 25px;
    margin-bottom: 5px;
    height: 25px;
    width: 150px;
    padding-left: 5px;
}
label{
    color: rgb(3, 22, 9);
}
button{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 5px 2px;
}