body{
    display: grid;
    place-content: center;
}
h1{
    color: rgb(19, 37, 3);
    text-align: center;
    font-size: 30px;
}
div{
    background-color: rgb(231, 143, 202);
    text-align: center;
    padding: 20px;
}
p{
    font-size: 18px;
    color:red;
    text-align: center;
}
label{
    font-size: 18px;
    color: rgb(16, 7, 75);
}
input{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 25px;
    width: 200px;
    font: 18px;
    padding-left: 5px;
}
span{
    color: red;
}
button{
    font-size: 18px;
    padding: 5px 10px;
    background-color: green;
    color: white;
}
.uname{
    font-size: 14px;
    margin-left: 100px;
}